@charset "UTF-8";
body {
background-color: #f98b88;
margin: 0 15%;
font-family: 'Lobster', cursive;
text-align: center;
font-size: 2em;
color: white;


}
a:hover {
color: #69e5ae;
background-color: #fff;
}
h1 {
color: #aaf0d1;
font-size: 4em;
text-shadow: .05em .05em .1em #69e5ae;
border-bottom: 2px solid white;
margin-top: 30px;
 
}
h2 {
font-size: 1em;
text-align: center;
 border: 2px solid white;
}
h3 {
color: #aaf0d1;
text-shadow: .05em .05em .1em #69e5ae;
font-size: 1em;
text-decoration: underline;
}
ul {
  list-style-type: none;
 }